<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder === 'home' ? 'CO-APP MONTOGGIO' : folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
<ng-container *ngIf="folder === 'home'; else dynamicContent">
  <!-- ✅ Contenuto statico per la home -->
  <ion-content>
    <ion-card class="ion-card_home">
      <!--<ion-card-header>
        <ion-card-title>Benvenuto nella Home</ion-card-title>
      </ion-card-header>-->
      <ion-card-content>
        <ion-button class="home_page_icon-button" routerLink="/folder/comune" expand="block" fill="clear" >
          <ion-img class="home_page_icon-img" src="assets/menu_icons/bacheca_256.webp" ></ion-img>
          <div class="home_page_icon-text">
            <div class="title">BACHECA DEL COMUNE</div>
            <div class="subtitle">Notizie e comunicati</div>
          </div>
        </ion-button>
      </ion-card-content>
    </ion-card>


    <ion-card class="ion-card_home">
      <!--<ion-card-header>
        <ion-card-title>Benvenuto nella Home</ion-card-title>
      </ion-card-header>-->
      <ion-card-content>
        <ion-button class="home_page_icon-button" routerLink="/folder/eventi" expand="block" fill="clear" >
          <ion-img class="home_page_icon-img" src="assets/menu_icons/eventi_256.webp" ></ion-img>
          <div class="home_page_icon-text">
            <div class="title">EVENTI E INIZIATIVE</div>
            <div class="subtitle">Calendario degli eventi</div>
          </div>
        </ion-button>
      </ion-card-content>
    </ion-card>

 <ion-card class="ion-card_home">
      <!--<ion-card-header>
        <ion-card-title>Benvenuto nella Home</ion-card-title>
      </ion-card-header>-->
      <ion-card-content>
        <ion-button class="home_page_icon-button" routerLink="/folder/volontariato" expand="block" fill="clear" >
          <ion-img class="home_page_icon-img" src="assets/menu_icons/volontariato_256.webp" ></ion-img>
          <div class="home_page_icon-text">
            <div class="title">VOLONTARIATO</div>
            <div class="subtitle">Offerte e richieste di aiuto</div>
          </div>
        </ion-button>
      </ion-card-content>
    </ion-card>

<ion-card class="ion-card_home">
      <!--<ion-card-header>
        <ion-card-title>Benvenuto nella Home</ion-card-title>
      </ion-card-header>-->
      <ion-card-content >
        <ion-button class="home_page_icon-button" routerLink="/folder/giovani" expand="block" fill="clear" >
          <ion-img class="home_page_icon-img" src="assets/menu_icons/giovani_256.webp" ></ion-img>
          <div class="home_page_icon-text">
            <div class="title">GIOVANI</div>
            <div class="subtitle">Iniziative giovanili locali</div>
          </div>
        </ion-button>
      </ion-card-content>
    </ion-card>
<ion-card class="ion-card_home">
      <!--<ion-card-header>
        <ion-card-title>Benvenuto nella Home</ion-card-title>
      </ion-card-header>-->
      <ion-card-content>
        <ion-button class="home_page_icon-button" routerLink="/folder/salute" expand="block" fill="clear" >
          <ion-img class="home_page_icon-img" src="assets/menu_icons/salute_256.webp" ></ion-img>
          <div class="home_page_icon-text">
            <div class="title">SALUTE E BENESSERE</div>
            <div class="subtitle">Informazioni su salute e servizi</div>
          </div>
        </ion-button>
      </ion-card-content>
    </ion-card>


<ion-card class="ion-card_home">
      <!--<ion-card-header>
        <ion-card-title>Benvenuto nella Home</ion-card-title>
      </ion-card-header>-->
      <ion-card-content>
        <ion-button class="home_page_icon-button promo-center" routerLink="/folder/promo" expand="block" fill="clear" >
          <ion-img class="home_page_promo_icon-img" src="assets/menu_icons/promo_256.webp" ></ion-img>
          <div class="home_page_icon-text">
            <div class="title"></div>
            <div class="subtitle"></div>
          </div>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
  <div id="container" #dynamiccontent>
  
    
    <ion-card [ngClass]="folder" *ngFor="let item of contenuto">

    <ion-card-header >
      <ion-card-title>{{ item.id }}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <ion-list >
        <ion-item *ngFor="let dato of item.dati" >
          <ng-container *ngIf="!campi_da_escludere.includes(dato.chiave)">
            <ion-icon name="document-text-outline" slot="start" ></ion-icon>
            <ng-container *ngIf="dato.chiave=='imgUrl'; else cardNormale">
              <img src="{{dato.valore}}" class="thumbnail" (click)="apriModal(dato.valore)">
              
            </ng-container>
            <ng-template #cardNormale>
            <ion-label >
              <h3>{{ dato.chiave }}</h3>
              <p>{{ dato.valore }}</p>
            </ion-label >
            </ng-template>
          </ng-container>
        </ion-item>

        <!-- Modale con immagine ingrandita -->
        <ion-modal [isOpen]="modalVisibile" (didDismiss)="modalVisibile = false">
          <ng-template>
            <ion-content class="modal-content">
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button (click)="modalVisibile = false">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
              <div class="modal-image-wrapper">
                <img [src]="imgSelezionata" class="zoomed-image" />
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ng-template #nessunDato>
    <p>Nessun contenuto disponibile.</p>
  </ng-template>


  </div>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/folder/home" expand="block">
        🏠 Torna alla Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>

