<ion-app>
  <ion-split-pane when="false" contentId="main-content"><!--ATTENZIONE A NON TOGLIERE MAI when=false se no a schermo intero parte male-->
    
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" >
          <ion-list-header>Progetto Montoggio</ion-list-header>
          <ion-note>info&#64;progettomontoggio.com</ion-note>

          <!-- Menu principale -->
          <ng-container *ngIf="showComuneSubmenu == false">
            <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/home']">
                <ion-icon slot="start" ios="home-outline" md="home-sharp"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <!-- Comune (non chiude il menu) -->
            <ion-item (click)="showComuneSubmenu = true">
              <ion-icon slot="start" ios="compass-outline" md="compass-sharp"></ion-icon>
              <ion-label>Comune</ion-label>
            </ion-item>

            <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/salute']">
                <ion-icon slot="start" ios="medkit-outline" md="medkit-sharp"></ion-icon>
                <ion-label>Salute</ion-label>
              </ion-item>
            </ion-menu-toggle>

             <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/volontariato']">
                <ion-icon slot="start" ios="medkit-outline" md="medkit-sharp"></ion-icon>
                <ion-label>Volontariato</ion-label>
              </ion-item>
            </ion-menu-toggle>

             <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/eventi']">
                <ion-icon slot="start" ios="medkit-outline" md="medkit-sharp"></ion-icon>
                <ion-label>Eventi</ion-label>
              </ion-item>
            </ion-menu-toggle>

             <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/bacheca']">
                <ion-icon slot="start" ios="medkit-outline" md="medkit-sharp"></ion-icon>
                <ion-label>Bacheca</ion-label>
              </ion-item>
            </ion-menu-toggle>

             <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/promo']">
                <ion-icon slot="start" ios="medkit-outline" md="medkit-sharp"></ion-icon>
                <ion-label>Promo</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <!-- Altre voci... -->
          </ng-container>

          <!-- Sottomenù Comune -->
          <ng-container *ngIf="showComuneSubmenu==true">
            <ion-item (click)="showComuneSubmenu = false">
              <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
              <ion-label>Indietro</ion-label>
            </ion-item>

            <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/sindaco']">
                <ion-icon slot="start" ios="person-outline" md="person-sharp"></ion-icon>
                <ion-label>Sindaco</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/servizi']">
                <ion-icon slot="start" ios="settings-outline" md="settings-sharp"></ion-icon>
                <ion-label>Servizi</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/folder/contatti']">
                <ion-icon slot="start" ios="call-outline" md="call-sharp"></ion-icon>
                <ion-label>Contatti</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
